*{
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}
#home{
    background:url('../Images/homeBack2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: auto;
}
.header{    
    box-shadow: 0px 5px 10px rgb(248, 240, 13);
    background-color:rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 12%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


.hamburger{
    height: 7vh;
    width: 3.5vw;
    position: absolute;
    top: 2%;
    left: 1%;
    z-index: 9999;
    display: block;
    border: none;
    box-shadow: 0px 0px 7px black;
    position: fixed;
   background-color: rgb(255, 255, 255);
}

.navbar{
   justify-self: center;
   gap: 5em;
}
.navbar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}
.navbar a:hover{
    transform: scale(1.1);
    transition: 0.5 ease;
    text-decoration: underline;
}

    
    




.box{
    width:15%;
    height:35%;
    background-color: rgb(223, 240, 255);
    position: fixed;
    top: 9%;
    left: 1%;
    display: none;
    z-index: 9999;

    

}
.box .list{
    display: grid;
    width: 100%;
    align-items: center;
    cursor: pointer;
}
.box .list a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.box .list a:hover{
    transform: scale(1.1);
    transition: 0.5s ease all;
}




/* .close{
    height: 80%;
    border: none;
    width: 100%;
    font-size: 1.3em;
    background-color: transparent;
    border: 1px solid black;
    background-color: black;
    color: white;
    
    
} */

.contents{
    width: 100%;
    height: 90%;
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 0.5fr;

    
}

.imageContainer{
    width: 90%;
    height: 70%;
    border: none;
    display:flex;
    justify-content: center;
    margin-left:2em ;
    overflow: hidden;
    border-radius: 10px;
}




.offerImage{
    width: 29%;
    height:55% ;
    filter: saturate(1.3);
    margin-left: 2rem;
    align-self: center;
    border-radius: 10px;
    animation:moveImage 3s infinite alternate ;
    box-shadow: 0px 3px 10px black;
    

}

.imageContainer:hover .offerImage{
    animation-play-state: paused;
}

@keyframes moveImage{
    0%{transform: translateX(-2em);}
    100%{transform: translateX(-1em);}
}
.today{
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 2em;
    font-weight: 600;
    background-color: rgb(107, 211, 209);
    width: 40vw;
    align-content:center ;
    height: 10vh;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    border-radius: 20px;
    animation: colors 2s infinite alternate;
    box-shadow: 0px 2px 10px black;
}

@keyframes colors{
    0%{background-color: aqua;}
    20%{background-color: rgb(119, 255, 0);}
    40%{background-color: rgb(255, 19, 188);}
    60%{background-color: rgb(255, 153, 0);}
    80%{background-color: rgb(104, 255, 255);}
    100%{background-color: rgb(217, 255, 80);}
}

.pic{
    align-content: center;
    margin-right: 2em;
    display: block;
    
}
.delivery
{
    animation: none;
    width: 30vw;
    height: 60vh;
    filter: saturate(1.2);
}
#menu{
    width: 100%;
    height: 100vh;
    background:url('../Images/Menu3.jpg');
    justify-items: center;
    align-items: center;
    display:grid;
    grid-template-rows: 0.1fr 1.4fr;
    background-repeat: no-repeat;
    background-size: cover;
}
#items{
    width: 60%;
    height: 75%;
    background-color:rgba(0,0,0,0.5);
    justify-items: center;
    overflow-y: scroll;
    display: grid;
    box-shadow:0px 2px 10px rgb(22, 247, 255);
    border-radius: 10px;
    
    
}
.item{
    width: 90%;
    height: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 2em;
    
   
}
.logo{
    width: 50%;
    height: 100%;

}
.texts{
    line-height: 2em;
    color: rgb(255, 255, 255);
}

.foodName{
    font-size: 1.6em;
    font-family: cursive;
    color: rgb(255, 255, 0);
    text-shadow: 0px 0px 10px rgb(0, 0, 0);


}
.foodRate{
    font-weight: bold;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.orderBtn{
    width: 50%;
    height: 40%;
    border-radius: 10px;
    background-color: rgb(255, 255, 11);
    font-weight: bold;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 10px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.orderBtn:hover{
    background-color: rgb(0, 0, 0);
    color: yellow;
}
.selectBtn{
    width: 20%;
    height: 40%;
    margin-top: 4em;
    color: rgb(0, 0, 0);
    background-color: rgb(21, 255, 216);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    font-weight: 800;
    text-align: center;
    
    
}
.selectBtn option{
    background-color: rgb(2, 10, 10);
    color: rgb(255, 230, 0);
}

#gallery{
    width: 100vw;
    height:100vh;
    background:url('../Images/GalleryBack.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
  
}
#galleryContainer{
    width:100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-size: cover;
    overflow-y: scroll;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}
/* #galleryContainer:hover{
    animation-play-state: paused;
} */

/* @keyframes move{
    0%{transform: translateX(0%)}
    50%{transform: translateX(5%)}
    75%{transform: translateX(0%)}
    100%{transform: translateX(-5%)}
} */


.galleryPic{
    width:80%;
    height: 80%;
    border-radius: 10px;
    cursor: pointer;

    
}
.galleryPic:hover{
    transform: scale(1.1);
    
    
}

#booking{
    background-color: rgb(192, 151, 97);
    width: 100vw;
    height: 100vh;
    justify-items: center;
    display: grid;
    align-content: center;
}
#bookContainer{
    width: 80%;
    height: 95%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
   
}

.Bookimages{
    width: 17vw;
    height: 25vh;
    border-radius: 10px;
     cursor: pointer;
     box-shadow: 0px 0px 10px rgb(0, 0, 0);

}
.Bookimages:hover{
    transform: scale(1.03);
}
.BookTableName{
    font-size: 1.5em;
    text-align: center;
    line-height: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: rgb(0, 0, 0);

}

#booking h2{
    color:rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
    font-weight: 600;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 10px;
}


.popupScreen {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7); /* Dark background */
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index:9999;
}

.popup {
  background:linear-gradient(rgb(237, 255, 117),rgb(154, 242, 255));
  width: 40%;
  height: 70%;
  justify-self: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  display: grid;
  grid-template-rows:1.7fr 0.7fr 0.8fr
}

.popupImage{
    width: 30%;
    filter: saturate(1.4);

}
.priceText{
    font-size: 2em;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.NameText{
    font-size: 1.4em;
    color: rgb(0, 0, 0);
    background-color: rgb(229, 255, 0);
    width: 15vw;
    font-family: cursive;
    text-align: center;
    border-radius: 10px;
    align-content: center;
    height: 50%;
     box-shadow: 0px 2px 10px black;
}

.closePopup{
    width: 30%;
    height: 100%;
    border: none;
    background-color: rgb(255, 25, 25);
    color: rgb(255, 255, 255);
     border-radius: 10px;
      box-shadow: 0px 2px 10px black;
      cursor: pointer;
      font-weight: 700;
}

.buy{
    width: 30%;
    height: 100%;
    border: none;
     border-radius: 10px;
    background-color: rgb(25, 255, 79);
    color: rgb(0, 0, 0);
     box-shadow: 0px 2px 10px black;
     cursor: pointer;
     font-weight: 700;
}
.Btns{
    width:100%;
    height: 3em;
    display: flex;
    justify-content: center;
    gap: 2em;
   
    
}

#bookingPage{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
    justify-items: center;
    align-content: center;

    
}
#bookingPage.show{
    display: block;
}
#bookingpage.hide{
    display:none;
}
.bookNow{
    background:linear-gradient(rgb(255, 255, 255),rgb(251, 255, 132));
    width: 50%;
    height: 80%;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bookNow{
    font-weight: 700;
}

.bookNow .head{
    text-align: center;
    font-size: 1.3em;
    width: 80%;
    height: 70%;
    box-shadow: 0px 0px 10px black;
    align-content: center;
    border-radius: 20px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
.bookNow .head strong{
    color: rgb(255, 72, 11);
}

.bookNow .date{
    font-size: 1.2em;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.bookNow .note{
    font-size: 1.5em;
    font-family: fantasy;
    font-weight: 300;
}
.bookNow .date input{
    
    background-color: rgb(255, 84, 84);
    text-align: center;
    width: 60%;
    color: white;
    height:2.5em;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8em;
}
.bookNow .time{
    font-size: 1.15em;
    display: flex;
    gap: 1em;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;


}
.bookNow input{
    background-color: rgb(0, 255, 247);
    border-radius: 10px;
    text-align: center;
    width: 20%;
    font-size: 1em;
    font-family: fantasy;
}

.buttons button{
    border-radius: 10px;
    width: 30%;
    height: 2.5em;
}
.buttons{
    display: flex;
    gap: 1em;
    justify-content: center;
    width: 100%;

}


.buttons .bookBtn{
    background-color: rgb(98, 255, 98);
    font-size: 1.1em;
}
.buttons .closeBooking{
    background-color: red;
    color: white;
    font-size: 1.1em;
}
.bookNow h3{
    color: rgb(1, 1, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* #success{
    width: 50%;
    height: 6%;
    background-color: rgb(3, 255, 129);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    transition: 0.2s ease-in-out;
    border-radius: 10px;
    display: none;

}
.successMsg{
    font-weight: 600;
    font-size: 1.4em;
    font-family: cursive;
    text-align:center;
    transition: 0.2s ease-in-out;
    
} */

#alertPlaceholder{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#alertBox{
    background-color: rgb(229, 255, 0);
    margin-left:65vw;
    color: rgb(0, 0, 0);
    border: none;
    font-weight: 600;
}

#alertBox.hide{
    display: none;
    transition: 0.5s ease-out;
}

#authendication{
    width: 100%;
    height: 100%;
    background-color:rgba(33, 43, 44, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    align-content: center;
}
#authendication.show{
    display: block;
}
#Regauthendication{
    width: 100%;
    height: 100%;
    background-color: rgb(206, 255, 127);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none; 
}
#Regauthendication.show{
    display: block;
}
#authendication .loginBack{
    background-color: rgb(146, 207, 207);
    width: 40%;
    height: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-self: center;
    border-radius: 10px;
}

.loginBack label{
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;

}
.loginBack #loginMail{
    width: 100%;
    height: 60%;
}



