doctype html
html
  head
    title Admin Page
    link(rel="stylesheet" type="text/css",href="/static/profile/css/adminPage.css")
  body
    section.tableContainer
      table
        thead
          tr
            th UserName
            th Email
            th Password
            th action
        tbody
          each user in users
            tr
              td= user.userName
              td= user.userEmail
              td= user.userPassword.slice(0,5)+'...'
              td 
               button(onclick='deleteUser("' + user.userEmail + '")') Delete

  script.
      function deleteUser(email) {
        if (confirm("Are you sure you want to delete this user?")) {
          fetch('/api/v1/deleteUser', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email })
          })
          .then(res => res.json())
          .then(data => {
            alert(data.message);
            location.reload();
          })
          .catch(err => {
            console.error("Delete failed:", err);
            alert("Something went wrong.");
          });
        }
      }