div.header
    div.title
        button.hamburger(title="menu")
            svg(width="50%" height="30" viewBox="0 0 40 30" xmlns="http://www.w3.org/2000/svg")
                rect(width="40" height="5" fill="black")
                rect(y="12" width="40" height="5" fill="black")
                rect(y="24" width="40" height="5" fill="black")
        p#loginUserName
    nav.navbar 
        a#navMenu(href="#menu") 
        a#navGallery(href="#gallery") 
        a#navBooking(href="#booking") 
        a#navAbout(href="#about")
    div.box#boxx
        ul.list
            li
                a.sideLinks#loginTag(data-status="false") Login
            li
                a.sideLinks(href="#home") Home
            li
                a.sideLinks(href="#menu") Menu
            li
                a.sideLinks(href="#gallery") Gallery 